useDynLib(forestFloor)
#exportPattern("^[[:alpha:]]+")
#import(randomForest,trimTrees,rgl,FNN)
importFrom(Rcpp, evalCpp)
importFrom(randomForest, randomForest)
importFrom(trimTrees, cinbag)
import(rgl)
importFrom(FNN,knn.reg)
S3method(plot,forestFloor)
S3method(print,forestFloor)
export(forestFloor,
       plot.forestFloor,
       print.forestFloor,
       show3d,
       box.outliers,
       recTree,
       randomForest,
       cinbag)